# Edit this file to introduce tasks to be run by cron.
# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7)
# *  *  *  *  *    command to be executed
* * * * * /usr/src/app/script.sh >> /var/log/cron.log 2>&1
